<link href="~/css/workPort.css" rel="stylesheet" />

<section class="portfolio-section" id="portfolio">
    <div class="container">
        <h2 class="portfolio-title">My Portfolio</h2>
        <div class="row">
            <div class="col-md-4 col-sm-6 mb-4">
                <div class="portfolio-card">
                    <img src="~/images/workportfolio/AMS.png" class="img-fluid" alt="Project 1">
                    <div class="portfolio-card-body">
                        <h5>Attandence Management System</h5>
                        <p>This is a short description of project one. It showcases my skills in design and development.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mb-4">
                <div class="portfolio-card">
                    <img src="~/images/workportfolio/HRS.png" class="img-fluid" alt="Project 2">
                    <div class="portfolio-card-body">
                        <h5>Human Resource Management System</h5>
                        <p>This is a short description of project two. It demonstrates my ability to build responsive websites.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mb-4">
                <div class="portfolio-card">
                    <img src="~/images/workportfolio/IMS.png" class="img-fluid" alt="Project 3">
                    <div class="portfolio-card-body">
                        <h5>Inventory Management System</h5>
                        <p>This is a short description of project three. I worked on it to refine my skills in JavaScript.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 mb-4">
                <div class="portfolio-card">
                    <img src="~/images/workportfolio/VPS.jpg" class="img-fluid" alt="Project 1">
                    <div class="portfolio-card-body">
                        <h5>Visitor Pass System</h5>
                        <p>This is a short description of project one. It showcases my skills in design and development.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mb-4">
                <div class="portfolio-card">
                    <img src="~/images/workportfolio/solar.jpg" class="img-fluid" alt="Project 2">
                    <div class="portfolio-card-body">
                        <h5>Solar System</h5>
                        <p>This is a short description of project two. It demonstrates my ability to build responsive websites.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mb-4">
                <div class="portfolio-card">
                    <img src="~/images/workportfolio/EMS.jfif" class="img-fluid" alt="Project 3">
                    <div class="portfolio-card-body">
                        <h5>Electricity Management System</h5>
                        <p>This is a short description of project three. I worked on it to refine my skills in JavaScript.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 mb-4">
                <div class="portfolio-card">
                    <img src="~/images/workportfolio/EmpMS.jfif" class="img-fluid" alt="Project 1">
                    <div class="portfolio-card-body">
                        <h5>Employee Management System</h5>
                        <p>This is a short description of project one. It showcases my skills in design and development.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mb-4">
                <div class="portfolio-card">
                    <img src="~/images/workportfolio/Quater.jfif" class="img-fluid" alt="Project 2">
                    <div class="portfolio-card-body">
                        <h5>Quater Management System</h5>
                        <p>This is a short description of project two. It demonstrates my ability to build responsive websites.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
